* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #F0F0F5;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}