.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 160px;
}

.logo a,
.register a {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo h1 {
    color: #322153;
    font-size: 30px;
    font-weight: 700;
}

.register i {
    color: #4996FF;
    font-size: 24px;
}

.register h3 {
    color: #322153;
    font-size: 16px;
    font-weight: 700;
}

.main-container {
    margin: 0px 160px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.banner-info {
    margin-top: 120px;
}

.title-main h2 {
    max-width: 650px;
    font-size: 54px;
    font-weight: 700;
    color: #322153;
    margin-bottom: 30px;
}

.description p {
    font-size: 24px;
    line-height: 38px;
    color: #6C6C80;
    max-width: 510px;
    margin-bottom: 30px;
}

.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    max-width: 300px;
    border-radius: 8px;
    background-color: #4996FF;
    cursor: pointer;

}

.button a i,
.button a h4 {
    font-weight: 700;
    color: #FFF;
}

.banner-image {
    margin-top: 120px;
    text-align: right;
}

.banner-image img {
    width: 720px;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

.about img {
    width: 120px;
}

.about h3 {
    font-size: 24px;
    color: #322153;
    margin-left: 24px;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.modal-content h2 {
    font-size: 36px;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 40px;
}

.form-search {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-search input,
.form-search button {
    width: 420px;
    padding: 20px;
    border-radius: 8px;
}

.form-search input {
    font-size: 16px;
    color: #322153;
}

.form-search button {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    background-color: #4996FF;
    cursor: pointer;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
