.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 160px;
}

.logo a,
.register a {
    display: flex;
    align-items: center;
    gap: 16px;
}
