.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 160px;
}

.logo a,
.register a {
    display: flex;
    align-items: center;
    gap: 16px;
}

.form-container {
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 748px;
    background-color: #FFF;
    padding: 64px;
    border-radius: 8px;
}