.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 42px 160px;
}

.logo a,
.register a {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo h1 {
    color: #322153;
    font-size: 30px;
    font-weight: 700;
}

.register i {
    color: #4996FF;
    font-size: 24px;
}

.register h3 {
    color: #322153;
    font-size: 16px;
    font-weight: 700;
}


.main-container {
    margin: 58px 160px;
}

.main-container h2 {
    font-size: 3.6rem;
    font-weight: 500;
    color: #322153;
    margin-bottom: 30px;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 6rem;
}

.card {
    background-color: #FFF;
    padding: 3rem;
    border-radius: 8px;
}

.card .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content i {
    color: green;
}

.title-case {
    margin-bottom: 1.2rem;
    color: #41414D;
    font-weight: 700;
    font-size: 1.4rem;
}

.info {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #737380;
}

.description p {
    margin-bottom: 0px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Responsividade */

@media (max-width:992px){
    .cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px){
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .logo img {
        width: 36px;
    }

    .register h3 {
        font-size: 0px;
        text-align: center;
    }

    main {
        display: flex;
        justify-content: center;
    }

    .main-container {
        margin: 0px 160px;
    }

    .main-container h2 {
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width:700px){
    .main-container {
        margin: 0px 10px;
    }
    .content i {
        font-size: 14px;
    }

    .title-case {
        font-size: 10px;
    }

    .info {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 18px;
    }

    .footer-info h4 {
        max-width: 250px;
        font-size: 14px;
    }

    .footer-info .links {
        font-size: 12px;
    }

}

@media (max-width:536px) {
    .card {
        padding: 1.5rem;
    }

    .logo h1 {
        font-size: 14px;
    }

    .logo img {
        width: 24px;
    }

    .register i {
        font-size: 14px;
    }

    .register h3 {
        font-size: 0px;
        text-align: center;
    }

    .main-container h2 {
        font-size: 18px;
    }

    .content i {
        font-size: 10px;
    }

    .title-case {
        font-size: 8px;
        margin-bottom: 5px;
    }

    .info {
        font-size: 8px;
        line-height: 12px;
        margin-bottom: 12px;
    }

    .footer-info h4 {
        max-width: 250px;
        font-size: 10px;
    }

    .footer-info .links {
        font-size: 8px;
    }
}

