{% extends "base.html" %}

{% block title %}
    <title>DescartEco | Quem somos</title>
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="/styles/styleAboutUs.css">
{% endblock style %}

{% block header %}
    {% include "partials/header.html" %}
{% endblock header %}

{% block content %}
    <div class="main-container">
        <section class="wrapper">
            <h2>Quem somos</h2>
            <p>O Projeto Escola Verde é um movimento de ensino que visa de forma colaborativa com escolas e
                comunidade no
                geral, o enfrentamento os problemas socioambientais.</p>
            <p>O tema da Educação Ambiental pode ser trabalhado e vivenciado de diferentes formas no ambiente
                escolar, mas a
                não inclusão desse importante componente curricular, bem como a limitação dos professores devido a
                falta de
                apoio ou poucos materiais didáticos, dificulta a progagação desse importante tema.</p>
            <p>O Projeto Escola Verde surge como auxílio para os profissionais da educação bem como para a
                comunidade no
                geral, desenvolvendo atividades de pesqusa e extenção que buscam minimizar os efeitos das
                dificuldades de
                ensino sobre o tema. Com o Ensino Verde é possível ver informações atuais, lúdicas e relevantes para
                que
                todos obtenham acesso sobre conteúdos do meio ambiente e busquem meios de ajudar e compartilhar com
                outros.
            </p>
            <div class="images">
                <img src="Assets/img/PEV-aprovado-pelo-MEC.png" alt="">
                <img src="Assets/img/PEV-aprovado-pelo-MEC.png" alt="">
                <img src="Assets/img/PEV-aprovado-pelo-MEC.png" alt="">
            </div>
        </section>
    </div>
{% endblock content %}
