<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8">
    <title>DescartEco | Pontos Cadastrados</title>
    <meta name="description"
        content="Ajudamos nossos usuários a encontrar pontos de coleta adequados para resíduos que merecem tratamento especial no seu descarte.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Assets/img/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styleCollectionPoints.css">
</head>

<body>
    <header class="header container">
        <div class="header-container">
            <div class="logo">
                <a href="index.html">
                    <img src="Assets/img/ir-verde.png" alt="Logo DescartEco" title="Logo DescartEco">
                    <h1>DescartEco</h1>
                </a>
            </div>
            <nav>
                <div class="register">
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <h3>Voltar para home</h3>
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="main-container">
            <h2>Pontos cadastrados</h2>
            <section class="cards">
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>
                <div class="card">
                    <div class="content">
                        <div class="title-card">
                            <h4 class="title-case">NOME DO LOCAL</h4>
                            <p class="info">Colectoria</p>
                        </div>
                        <a href="" class="link-button">
                            <i class="fa-solid fa-map-location-dot"></i>
                        </a>
                    </div>
                    <div class="text">
                        <h4 class="title-case">RESÍDUOS ACEITOS</h4>
                        <p class="info">Resíduos Eletrônicos, Lâmpadas</p>
                    </div>

                    <div class="description">
                        <h4 class="title-case">ENDEREÇO</h4>
                        <p class="info">Rio do Sul, Santa Catarina Guilherme Gemballa, Jardim América Nº 260</p>
                    </div>

                </div>

            </section>

            <footer class="footer-info">
                <h4>Não encontrou o ponto de coleta? Informe nos contatos abaixo: </h4>
                <a class="links" href="tel:+5587981052994">Telefone: +55 87 98105 2994</a>
                <a class="links" href="mailto:escolaverde@univasf.edu.br">E-mail:escolaverde@univasf.edu.br</a>
            </footer>
        </div>
    </main>
</body>

</html>