<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>DescartEco | Saiba Mais</title>
    <meta name="description"
        content="Ajudamos nossos usuários a encontrar pontos de coleta adequados para resíduos que merecem tratamento especial no seu descarte.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Assets/img/favicon-16x16.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/styleAboutUs.css">
</head>

<body>
    <header class="header container">
        <div class="header-container">
            <div class="logo">
                <a href="index.html">
                    <img src="Assets/img/ir-verde.png" alt="Logo DescartEco" title="Logo DescartEco">
                    <h1>DescartEco</h1>
                </a>
            </div>
            <nav>
                <div class="register">
                    <a href="index.html">
                        <i class="fa-solid fa-house"></i>
                        <h3>Voltar para home</h3>
                    </a>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">
        <div class="main-container">
            <section class="wrapper">
                <h2>A importância da coleta seletiva e do descarte correto</h2>
                <p>Vivemos em um mundo cada vez mais consciente da importância de cuidar do meio ambiente. A coleta
                    seletiva e o descarte correto de resíduos são práticas fundamentais para a preservação do nosso
                    planeta. Dentre os diversos itens que requerem atenção especial, destacam-se o alumínio, lâmpadas
                    fluorescentes, pilhas e baterias, pneus, produtos eletrônicos, óleos lubrificantes, óleo de cozinha
                    e embalagens de agrotóxicos. Vamos explorar a relevância de tratar adequadamente cada um desses
                    materiais e a importância de pontos específicos para coleta, bem localizados.</p>
                <p><strong>Alumínio:</strong> O alumínio é um metal amplamente utilizado na fabricação de latas de
                    bebidas e embalagens de alimentos. Ele é 100% reciclável e, quando descartado corretamente, reduz a
                    extração de recursos naturais e diminui o impacto ambiental. A reciclagem do alumínio economiza
                    energia, evitando a emissão de gases poluentes.</p>
                <p><strong>Lâmpadas fluorescentes:</strong> Essas lâmpadas contêm mercúrio, uma substância altamente
                    tóxica. Se
                    descartadas no lixo comum, o mercúrio pode contaminar o solo e a água, causando danos à saúde humana
                    e aos ecossistemas. Por isso, é crucial separar e encaminhar essas lâmpadas para reciclagem,
                    garantindo que o mercúrio seja tratado adequadamente.</p>
                <p><strong>Pilhas e baterias:</strong> Esses itens também contêm metais pesados, como cádmio, chumbo e
                    mercúrio, que são altamente prejudiciais ao meio ambiente e à saúde. A coleta seletiva e a
                    reciclagem adequada de pilhas e baterias evitam a contaminação do solo e da água, preservando a
                    biodiversidade e protegendo as futuras gerações.</p>
                <p><strong>Pneus:</strong> Os pneus são um grande problema quando descartados de forma inadequada, pois
                    podem se tornar criadouros de mosquitos transmissores de doenças, como a dengue e o Zika vírus. Além
                    disso, podem causar incêndios e poluir o solo e a água. A reciclagem de pneus permite a reutilização
                    do material em diversos segmentos, como pavimentação de estradas e na indústria de cimento.</p>
                <p><strong>Produtos Eletrônicos:</strong> Os resíduos eletrônicos, ou lixo eletrônico (e-lixo), contêm
                    substâncias tóxicas, como chumbo, mercúrio, cádmio e outros metais pesados, além de plásticos não
                    biodegradáveis. A coleta seletiva e o descarte adequado de eletrônicos garantem a recuperação de
                    materiais valiosos, como ouro e prata, reduzindo a demanda por mineração e a poluição causada por
                    essas atividades.</p>
                <p><strong>Óleos lubrificantes e óleo de cozinha:</strong> O descarte incorreto de óleos lubrificantes e
                    de cozinha nos ralos ou no lixo comum pode contaminar rios e mares, causando danos irreparáveis à
                    fauna e flora aquáticas. A reciclagem desses óleos possibilita a produção de biodiesel, reduzindo a
                    dependência de combustíveis fósseis e minimizando a poluição ambiental.</p>
                <p><strong>Embalagens de agrotóxicos:</strong> Essas embalagens são compostas por materiais altamente
                    tóxicos, que podem causar sérios danos à saúde humana e ambiental. Através da tríplice lavagem e da
                    devolução das embalagens em postos de coleta específicos, é possível garantir o correto
                    encaminhamento para a reciclagem, evitando a contaminação do solo e da água.</p>
                <p>Para garantir o sucesso da coleta seletiva e do descarte correto desses itens, é essencial que haja
                    pontos específicos de coleta bem localizados. Esses pontos podem ser instalados em supermercados,
                    escolas, postos de gasolina, empresas, e outros locais de grande circulação de pessoas. A
                    disponibilidade de pontos estratégicos facilita a participação da população, tornando o processo de
                    descarte mais prático e eficiente. Com a conscientização da população e a implementação de pontos de
                    coleta adequados, podemos contribuir efetivamente para a proteção do nosso planeta e das gerações
                    futuras.
                </p>
            </section>
        </div>
    </main>

</body>

</html>