<header class="header container">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="Assets/img/ir-verde.png" alt="Logo DescartEco" title="Logo DescartEco">
                <h1>DescartEco</h1>
            </a>
        </div>
        <nav>
            <div class="register">
                <a href="/">
                    <i class="fa-solid fa-house"></i>
                    <h3>Voltar para home</h3>
                </a>
            </div>
        </nav>
    </div>
</header>